In [2]:
import pandas as pd

In [7]:
#=pd.load_csv(r'HTNcleanedl.csv')
dataset = pd.read_csv("DiabetesCleaned.csv", sep=None,engine='python')
dataset

,age,mets_achieved,resting_systolic,resting_diastolic,percent_hr_achieved,hyperlipid,famhx,black,newdm10
0,61.051334,5.0,132,84,0.805031,No,No,0,1
1,58.888432,5.0,138,80,0.937888,No,Yes,1,1
2,44.646133,10.1,100,74,0.954286,Yes,Yes,0,1
3,67.548256,7.0,150,90,0.842105,Yes,No,0,1
4,42.967831,7.0,110,80,0.903955,No,Yes,0,0
...,...,...,...,...,...,...,...,...,...
16771,40.626968,10.1,110,70,0.921788,No,No,0,0
16772,52.273785,10.0,134,72,0.958333,Yes,No,0,1
16773,43.225189,10.1,136,84,0.988701,No,Yes,0,0
16774,37.681042,10.1,98,82,0.939560,No,No,0,0
16775,46.551678,7.0,146,98,0.919075,No,Yes,0,0

In [21]:
#data = dataset[[dataset.columns.values.tolist().remove('newdm10')]]
feature_names = dataset.columns.values.tolist()
feature_names.remove('newdm10')
feature_names

['age',
 'mets_achieved',
 'resting_systolic',
 'resting_diastolic',
 'percent_hr_achieved',
 'hyperlipid',
 'famhx',
 'black']

In [6]:
x = dataset.to_numpy()
x

array([[61.051334, 5.0, 132, ..., 'No', 0, 1],
       [58.888431999999995, 5.0, 138, ..., 'Yes', 1, 1],
       [44.646133, 10.1, 100, ..., 'Yes', 0, 1],
       ...,
       [43.225189, 10.1, 136, ..., 'Yes', 0, 0],
       [37.681042, 10.1, 98, ..., 'No', 0, 0],
       [46.551678, 7.0, 146, ..., 'Yes', 0, 0]], dtype=object)

In [5]:
def load_in_sklearn_format(filename,target_name):
    from bunch import Bunch
    import pandas as pd
    dataset = pd.read_csv(filename, sep=None,engine='python')
    dataset = pd.read_csv(filename, sep=None,engine='python')
    object_columns = dataset.select_dtypes(include='object')
    for column in object_columns :
        dataset[column] = dataset[column].astype('category')
    dataset=pd.get_dummies(dataset)
    feature_names = dataset.columns.values.tolist()
    feature_names.remove(target_name)
    data = dataset[feature_names].to_numpy()
    target = dataset[target_name].to_numpy()
    
    
    return Bunch(data=data, target=target, feature_names = feature_names, target_names = target_name)

In [6]:
x=load_in_sklearn_format('DiabetesCleaned.csv','newdm10')

In [11]:
data=x.data

In [12]:
data = x.data
feature_names = x.feature_names
y = x.target

In [13]:
from int_met import *

In [ ]:
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
model = RandomForestClassifier()
#model=DecisionTreeClassifier()