In [1]:
import pandas as pd

In [8]:
#=pd.load_csv(r'HTNcleanedl.csv')
dataset = pd.read_csv("DiabetesCleaned.csv", sep=None,engine='python')

In [35]:
dataset.dtypes

age                    float64
mets_achieved          float64
resting_systolic         int64
resting_diastolic        int64
percent_hr_achieved    float64
hyperlipid              object
famhx                   object
black                    int64
newdm10                  int64
dtype: object

In [42]:
object_columns = dataset.select_dtypes(include='object')

In [46]:
for column in object_columns :
    dataset[column] = dataset[column].astype('category')
    
    
dataset.dtypes
pd.get_dummies(dataset)

,age,mets_achieved,resting_systolic,resting_diastolic,percent_hr_achieved,black,newdm10,hyperlipid_No,hyperlipid_Yes,famhx_No,famhx_Yes
0,61.051334,5.0,132,84,0.805031,0,1,1,0,1,0
1,58.888432,5.0,138,80,0.937888,1,1,1,0,0,1
2,44.646133,10.1,100,74,0.954286,0,1,0,1,0,1
3,67.548256,7.0,150,90,0.842105,0,1,0,1,1,0
4,42.967831,7.0,110,80,0.903955,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
16771,40.626968,10.1,110,70,0.921788,0,0,1,0,1,0
16772,52.273785,10.0,134,72,0.958333,0,1,0,1,1,0
16773,43.225189,10.1,136,84,0.988701,0,0,1,0,0,1
16774,37.681042,10.1,98,82,0.939560,0,0,1,0,1,0
16775,46.551678,7.0,146,98,0.919075,0,0,1,0,0,1

In [57]:
def load_my_dataset(filename,target_column):
    import pandas as pd
    import numpy as np
    import csv
    with open(filename) as csv_file:
        data_file = csv.reader(csv_file)
        dataset = pd.read_csv(filename, sep=None,engine='python')
        object_columns = dataset.select_dtypes(include='object')
        for column in object_columns :
            dataset[column] = dataset[column].astype('category')
        pd.get_dummies(dataset)
        temp = next(data_file)
        n_samples = dataset.shape[0]
        n_features =  len(dataset.columns.values.tolist())-1
        feature_names = dataset.columns.values.tolist().remove(target_column)
        target_names = [target_column]
        data = np.empty((n_samples, n_features))
        target = np.empty((n_samples,), dtype=np.int)

        for i, sample in enumerate(data_file):
            print(sample[:-1])
            data[i] = np.asarray(sample[:-1], dtype=np.float64)
            target[i] = np.asarray(sample[-1], dtype=np.int)

    return Bunch(data=data, target=target, feature_names = feature_names, target_names = target_names)

#data = load_my_dataset()

In [58]:
data = load_my_dataset('DiabetesCleaned.csv','newdm10')

['61.051334', '5', '132', '84', '0.805031', 'No', 'No', '0']

ValueError: could not convert string to float: 'No'

In [32]:
def load_my_dataset2(filename,target_column):
    import csv
    import pandas as pd
    import numpy as np
    with open(filename) as csv_file:
        data_file = csv.reader(csv_file)
        dataset = pd.read_csv(filename, sep=None,engine='python')
        temp = next(data_file)
        n_samples = dataset.shape[0]
        n_features =  len(dataset.columns)-1
        feature_names = dataset.columns.values.tolist().remove(target_column)
        target_names = [target_column]
        data = np.empty((n_samples, n_features))
        target = np.empty((n_samples,), dtype=np.int)

        for i, sample in enumerate(data_file):
            data[i] = np.asarray(sample[:-1])
            target[i] = np.asarray(sample[-1])

    return Bunch(data=data, target=target, feature_names = feature_names, target_names = target_names)

In [33]:
data = load_my_dataset2('DiabetesCleaned.csv','newdm10')

ValueError: could not convert string to float: 'No'